In [2]:
import pandas as pd
from matplotlib import pyplot as pt

In [3]:
df=pd.read_csv("./amescsv/ames.csv")
features =["LotArea",'FirstFlrSF','SecondFlrSF','GrLivArea',"TotalBsmtSF"]


df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YearSold,SaleType,SaleCondition,SalePrice
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141.0,31770.0,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,0.0,No_Pool,No_Fence,None,0.0,5,2010,WD,Normal,215000
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80.0,11622.0,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,0.0,No_Pool,Minimum_Privacy,None,0.0,6,2010,WD,Normal,105000
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81.0,14267.0,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,0.0,No_Pool,No_Fence,Gar2,12500.0,6,2010,WD,Normal,172000
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93.0,11160.0,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,0.0,No_Pool,No_Fence,None,0.0,4,2010,WD,Normal,244000
4,Two_Story_1946_and_Newer,Residential_Low_Density,74.0,13830.0,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,0.0,No_Pool,Minimum_Privacy,None,0.0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,Split_or_Multilevel,Residential_Low_Density,37.0,7937.0,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,0.0,No_Pool,Good_Privacy,None,0.0,3,2006,WD,Normal,142500
2926,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0.0,8885.0,Pave,No_Alley_Access,Slightly_Irregular,Low,AllPub,Inside,...,0.0,No_Pool,Minimum_Privacy,None,0.0,6,2006,WD,Normal,131000
2927,Split_Foyer,Residential_Low_Density,62.0,10441.0,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,0.0,No_Pool,Minimum_Privacy,Shed,700.0,7,2006,WD,Normal,132000
2928,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,77.0,10010.0,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,0.0,No_Pool,No_Fence,None,0.0,4,2006,WD,Normal,170000
2929,Two_Story_1946_and_Newer,Residential_Low_Density,74.0,9627.0,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,0.0,No_Pool,No_Fence,None,0.0,11,2006,WD,Normal,188000

In [4]:
df=df.loc[:10,features ]

In [5]:

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=10, n_init=10, random_state=0)

In [6]:
df['cluster']=kmeans.fit_predict(df)

In [7]:
df

    LotArea  FirstFlrSF  SecondFlrSF  GrLivArea  TotalBsmtSF  cluster
0   31770.0      1656.0          0.0     1656.0       1080.0        1
1   11622.0       896.0          0.0      896.0        882.0        6
2   14267.0      1329.0          0.0     1329.0       1329.0        7
3   11160.0      2110.0          0.0     2110.0       2110.0        5
4   13830.0       928.0        701.0     1629.0        928.0        3
5    9978.0       926.0        678.0     1604.0        926.0        0
6    4920.0      1338.0          0.0     1338.0       1338.0        2
7    5005.0      1280.0          0.0     1280.0       1280.0        2
8    5389.0      1616.0          0.0     1616.0       1595.0        8
9    7500.0      1028.0        776.0     1804.0        994.0        4
10  10000.0       763.0        892.0     1655.0        763.0        9

In [8]:
kmeans.cluster_centers_

array([[ 9978. ,   926. ,   678. ,  1604. ,   926. ],
       [31770. ,  1656. ,     0. ,  1656. ,  1080. ],
       [ 4962.5,  1309. ,     0. ,  1309. ,  1309. ],
       [13830. ,   928. ,   701. ,  1629. ,   928. ],
       [ 7500. ,  1028. ,   776. ,  1804. ,   994. ],
       [11160. ,  2110. ,     0. ,  2110. ,  2110. ],
       [11622. ,   896. ,     0. ,   896. ,   882. ],
       [14267. ,  1329. ,     0. ,  1329. ,  1329. ],
       [ 5389. ,  1616. ,     0. ,  1616. ,  1595. ],
       [10000. ,   763. ,   892. ,  1655. ,   763. ]])

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [10]:
scaler.fit(df.loc[:,features] )
scaler.n_features_in_

5

In [11]:
df1=scaler.transform(df[['LotArea','FirstFlrSF',"SecondFlrSF","GrLivArea","TotalBsmtSF"]])

# df3=scaler.fit_transform(df[['LotArea','FirstFlrSF',"SecondFlrSF","GrLivArea","TotalBsmtSF"]])

In [12]:
df1=pd.DataFrame(df1)
df1

           0         1         2         3         4
0   1.000000  0.662955  0.000000  0.626030  0.235338
1   0.249609  0.098738  0.000000  0.000000  0.088344
2   0.348119  0.420193  0.000000  0.356672  0.420193
3   0.232402  1.000000  0.000000  1.000000  1.000000
4   0.331844  0.122494  0.785874  0.603789  0.122494
5   0.188380  0.121010  0.760090  0.583196  0.121010
6   0.000000  0.426875  0.000000  0.364086  0.426875
7   0.003166  0.383816  0.000000  0.316310  0.383816
8   0.017467  0.633259  0.000000  0.593081  0.617669
9   0.096089  0.196733  0.869955  0.747941  0.171492
10  0.189199  0.000000  1.000000  0.625206  0.000000

In [13]:
df1.columns=['LotArea','FirstFlrSF',"SecondFlrSF","GrLivArea","TotalBsmtSF"]

In [14]:
df1

     LotArea  FirstFlrSF  SecondFlrSF  GrLivArea  TotalBsmtSF
0   1.000000    0.662955     0.000000   0.626030     0.235338
1   0.249609    0.098738     0.000000   0.000000     0.088344
2   0.348119    0.420193     0.000000   0.356672     0.420193
3   0.232402    1.000000     0.000000   1.000000     1.000000
4   0.331844    0.122494     0.785874   0.603789     0.122494
5   0.188380    0.121010     0.760090   0.583196     0.121010
6   0.000000    0.426875     0.000000   0.364086     0.426875
7   0.003166    0.383816     0.000000   0.316310     0.383816
8   0.017467    0.633259     0.000000   0.593081     0.617669
9   0.096089    0.196733     0.869955   0.747941     0.171492
10  0.189199    0.000000     1.000000   0.625206     0.000000

In [15]:
df1['cluster']= kmeans.fit_predict(df1)

In [16]:
df1

     LotArea  FirstFlrSF  SecondFlrSF  GrLivArea  TotalBsmtSF  cluster
0   1.000000    0.662955     0.000000   0.626030     0.235338        2
1   0.249609    0.098738     0.000000   0.000000     0.088344        5
2   0.348119    0.420193     0.000000   0.356672     0.420193        7
3   0.232402    1.000000     0.000000   1.000000     1.000000        4
4   0.331844    0.122494     0.785874   0.603789     0.122494        9
5   0.188380    0.121010     0.760090   0.583196     0.121010        0
6   0.000000    0.426875     0.000000   0.364086     0.426875        3
7   0.003166    0.383816     0.000000   0.316310     0.383816        3
8   0.017467    0.633259     0.000000   0.593081     0.617669        1
9   0.096089    0.196733     0.869955   0.747941     0.171492        8
10  0.189199    0.000000     1.000000   0.625206     0.000000        6

In [17]:
df

    LotArea  FirstFlrSF  SecondFlrSF  GrLivArea  TotalBsmtSF  cluster
0   31770.0      1656.0          0.0     1656.0       1080.0        1
1   11622.0       896.0          0.0      896.0        882.0        6
2   14267.0      1329.0          0.0     1329.0       1329.0        7
3   11160.0      2110.0          0.0     2110.0       2110.0        5
4   13830.0       928.0        701.0     1629.0        928.0        3
5    9978.0       926.0        678.0     1604.0        926.0        0
6    4920.0      1338.0          0.0     1338.0       1338.0        2
7    5005.0      1280.0          0.0     1280.0       1280.0        2
8    5389.0      1616.0          0.0     1616.0       1595.0        8
9    7500.0      1028.0        776.0     1804.0        994.0        4
10  10000.0       763.0        892.0     1655.0        763.0        9

In [18]:
df

    LotArea  FirstFlrSF  SecondFlrSF  GrLivArea  TotalBsmtSF  cluster
0   31770.0      1656.0          0.0     1656.0       1080.0        1
1   11622.0       896.0          0.0      896.0        882.0        6
2   14267.0      1329.0          0.0     1329.0       1329.0        7
3   11160.0      2110.0          0.0     2110.0       2110.0        5
4   13830.0       928.0        701.0     1629.0        928.0        3
5    9978.0       926.0        678.0     1604.0        926.0        0
6    4920.0      1338.0          0.0     1338.0       1338.0        2
7    5005.0      1280.0          0.0     1280.0       1280.0        2
8    5389.0      1616.0          0.0     1616.0       1595.0        8
9    7500.0      1028.0        776.0     1804.0        994.0        4
10  10000.0       763.0        892.0     1655.0        763.0        9