In [1]:
from sklearn.datasets import load_digits

In [2]:
digits = load_digits()
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(digits.data,digits.target)

In [5]:
df['target']=digits.target

In [63]:
df=df.iloc[:,0:5]
df

     0    1     2     3     4
0  0.0  0.0   5.0  13.0   9.0
1  0.0  0.0   0.0  12.0  13.0
2  0.0  0.0   0.0   4.0  15.0
3  0.0  0.0   7.0  15.0  13.0
4  0.0  0.0   0.0   1.0  11.0
5  0.0  0.0  12.0  10.0   0.0
6  0.0  0.0   0.0  12.0  13.0
7  0.0  0.0   7.0   8.0  13.0
8  0.0  0.0   9.0  14.0   8.0
9  0.0  0.0  11.0  12.0   0.0

In [16]:
df.tail(3)

     0    1     2     3     4
7  0.0  0.0   7.0   8.0  13.0
8  0.0  0.0   9.0  14.0   8.0
9  0.0  0.0  11.0  12.0   0.0

In [17]:
df.describe

<bound method NDFrame.describe of      0    1     2     3     4
0  0.0  0.0   5.0  13.0   9.0
1  0.0  0.0   0.0  12.0  13.0
2  0.0  0.0   0.0   4.0  15.0
3  0.0  0.0   7.0  15.0  13.0
4  0.0  0.0   0.0   1.0  11.0
5  0.0  0.0  12.0  10.0   0.0
6  0.0  0.0   0.0  12.0  13.0
7  0.0  0.0   7.0   8.0  13.0
8  0.0  0.0   9.0  14.0   8.0
9  0.0  0.0  11.0  12.0   0.0>

In [18]:
from sklearn import preprocessing

In [43]:
from sklearn.model_selection import train_test_split

In [54]:
y=[0,2,3,4,5,5,5,6,6,1]
x_train,x_test,y_train,y_test=train_test_split(df,y)
y_train

[3, 5, 2, 6, 0, 4, 1]

In [55]:
# from sklearn.preprocessing import StandardScaler
# sc=StandardScaler()
# x_train=sc.fit_transform(x_train) #convert data into between 0 to 1 for height accuracy
# x_test=sc.fit_transform(x_test)

In [56]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

In [57]:

knn.fit(x_train,y_train)

KNeighborsClassifier()

In [60]:
knn.score(x_test,y_test)
x_test
# y_test

     0    1     2     3     4
5  0.0  0.0  12.0  10.0   0.0
7  0.0  0.0   7.0   8.0  13.0
4  0.0  0.0   0.0   1.0  11.0